%center{text-align:center;}
%nomarg{margin:0;}

html{
	font-size: 18px;
}

body{
	width:100%;
	height:100%;	
}

#container{
	@extend body;
}

#left{
	width:45%;
	float:left;
	border-right: 1px solid black;
	@extend %center;
}

#right{
	width:45%;
	float:right;
	@extend %center;
}

h2{
	font-size:1rem;
}

form{
	@extend h2;
	font-size: .9rem;
}

#js-output{
	padding-top:20px;
	.phrase{
		p{
			@extend %nomarg;
			padding-bottom:10px;
			text-align: left;
		}
	}
}

p{
	padding-left:5%;
	> p{
  		padding-left:0%;
	}
}

input[type=text]{
	width:50%;
}

.chart-holder{
	width: 60%;
	height: 60%;
	padding-left: 15%;
}