/* Placeholder Selectors */
%center{
	text-align:center;
}

%nomarg{
	margin:0;
}

%outputP{
	@extend %nomarg;
	padding-bottom:10px;
	text-align: left;	
}
/* /Placeholder Selectors */

//Start
html{
	font-size: 18px;
}

body{
	width:100%;
	height:100%;	
}

#container{
	@extend body;
}

#left{
	@extend %center;
	width:45%;
	float:left;
	border-right: 1px solid black;
}

#right{
	@extend %center;
	width:45%;
	float:right;
}

h2{
	font-size:1rem;
}

form{
	@extend h2;
	font-size: .9rem;
}

#js-output{
	padding-top:20px;
	.phrase{
		p{
			@extend %outputP;
		}
	}
}

#jq-output{
	padding-top:20px;
	.jq-phrase{
		p{
			@extend %outputP;
		}
	}	
}

p{
	padding-left:5%;
	> p{
  		padding-left:0%;
	}
}

input[type=text]{
	width:50%;
}

.chart-holder{
	width: 60%;
	height: 60%;
	padding-left: 15%;
}